# Group Action-Object-Pairs

####

In [2]:
import spacy_transformers
import ast
import sys
import os
sys.path.append('../../')
from utility.utility_functions import *
import pandas as pd
from collections import Counter
import spacy
from spacy.matcher import Matcher
from tqdm import tqdm
from IPython.display import display, HTML


from bertopic import BERTopic
from scipy.cluster import hierarchy as sch
import pandas as pd
import logging
from sklearn.metrics.pairwise import cosine_distances
from tqdm import tqdm
import numpy as np
from umap import UMAP
from hdbscan import HDBSCAN
from sentence_transformers import SentenceTransformer
import re


tqdm.pandas()
# Load the English model

In [3]:
nlp = spacy.load("en_core_web_trf")

In [4]:
# Read filtered DF
df_filtered = pd.read_parquet('../../data/processed/targets/avocado_train_targets_exploded_cleaned_entities.parquet', engine='fastparquet')

In [5]:
# Convert each string in each list to lowercase
df_filtered['action_object_pairs'] = df_filtered['action_object_pairs'].apply(lambda x: [item.lower() for item in x])

## Grouping Action-Object-Pairs

In [6]:
df_grouped = get_distinct_words_df(df_filtered)

In [7]:
df_grouped.head(30)

      action_object_pairs  count
172        have_questions  11040
24             send_email   8255
60                send_it   6200
385               call_me   6192
61           send_message   4860
99              thank_you   4820
400               do_what   4358
229            contact_me   3995
664             send_mail   3580
148                 do_it   2836
932             give_call   2645
849             need_help   2578
63                join_us   2507
8                 do_this   2410
523              call_you   2395
90           have_meeting   2337
37              take_look   2155
1884               send_e   2150
474               tell_me   2035
787   provide_information   2010
143         notify_sender   1924
425         receive_email   1858
59             think_what   1773
537             have_time   1663
414           have_access   1627
97                do_that   1551
170          make_changes   1500
1312        send_courtesy   1484
218            contact_us   1460
75               help_you   1458

In [ ]:
df_grouped = aggregate_by_keywords(df_grouped, ['feedback','review' ])

In [74]:
df_grouped = aggregate_specific_indices(df_grouped, [(0,3)])

In [9]:
pattern = 'feedback'
feedback = df_grouped[df_grouped['action_object_pairs'].str.contains(pattern, case=False, na=False)]
feedback

       action_object_pairs  count
95           send_feedback   1013
1326      provide_feedback    812
2525         give_feedback    752
913           get_feedback    432
5142         have_feedback    226
...                    ...    ...
101332     please_feedback      1
114817   register_feedback      1
112525    believe_feedback      1
111123   collect_feedbacks      1
111104    collate_feedback      1

[126 rows x 2 columns]